APP_URL=http://{{ inventory_hostname }}:3552
ENCRYPTION_KEY={{ arcane_encryption_key }}
JWT_SECRET={{ arcane_jwt_secret }}
PUID={{ arcane_puid | default(1000) }}
PGID={{ arcane_pgid | default(1000) }}
