COMPOSE_KOMODO_IMAGE_TAG=2.2

KOMODO_DATABASE_USERNAME=komodo
KOMODO_DATABASE_PASSWORD={{ komodo_database_password }}

TZ=Etc/UTC

KOMODO_HOST=http://{{ inventory_hostname }}:9120
KOMODO_TITLE=Komodo

KOMODO_LOCAL_AUTH=true
KOMODO_INIT_ADMIN_USERNAME={{ komodo_admin_username | default('admin') }}
KOMODO_INIT_ADMIN_PASSWORD={{ komodo_admin_password }}

KOMODO_JWT_SECRET={{ komodo_jwt_secret }}
KOMODO_WEBHOOK_SECRET={{ komodo_webhook_secret }}

KOMODO_DISABLE_USER_REGISTRATION=true
KOMODO_ENABLE_NEW_USERS=false

{% if komodo_github_pat is defined and komodo_github_pat %}
KOMODO_GIT_PROVIDERS=[{"domain":"github.com","https":true,"accounts":[{"username":"{{ komodo_github_username }}","token":"{{ komodo_github_pat }}"}]}]
{% endif %}
