# Periphery is locked to v2.2.0; pin in the future if needed.
COMPOSE_KOMODO_IMAGE_TAG=2

KOMODO_DATABASE_USERNAME=komodo
KOMODO_DATABASE_PASSWORD={{ komodo_database_password }}

TZ=Etc/UTC

KOMODO_HOST=http://{{ inventory_hostname }}:9120
KOMODO_TITLE=Komodo

KOMODO_LOCAL_AUTH=true
KOMODO_INIT_ADMIN_USERNAME=admin
KOMODO_INIT_ADMIN_PASSWORD={{ komodo_admin_password }}

KOMODO_JWT_SECRET={{ komodo_jwt_secret }}
KOMODO_WEBHOOK_SECRET={{ komodo_webhook_secret }}

KOMODO_DISABLE_USER_REGISTRATION=true
KOMODO_ENABLE_NEW_USERS=false
